@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@900&display=swap');

::ng-deep :root{
  --lightGreen: #A1F65E;
  --darkBlue: #242F65;
  --blue: #524FF5;
  --lightGray: #F2F2F2;
  --lightBlack: #2C323A;
  --darkBlack: #1D2229;
  --shadowBlack: #191C21;
  --darkGray: #6A6A6A;
  --black: #000000;
  --white: #FFFFFF;
  --dropWhite: #F9F9F9;
  --footerBlack: #1C2229;
}

*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

.navBarLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  transform: translateX(-20%);
}

.navBarLogo img{
  width: 12%;
  margin-right: 1.5%;
}

.navBarMenu{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  transform: translateX(-10%);
}

.navBarMenu ul{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-60%);
}

.navBarMenu ul li{
  margin-right: 10%;
}

.navBarMenu ul li a{
  text-decoration: none;
  color: var(--darkBlack);
}

.navBarMenu button{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: var(--darkBlack);
  background: var(--lightGray);
  border: none;
  padding: 1% 6%;
  text-align: center;
  text-wrap: avoid !important;
  white-space: nowrap;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.footerBanner{
  position: relative;
  z-index: 99;
}

.footerBanner img{
  width: 100%;
  height: auto;
  scale: 90%;
}
.footerBannerContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.followUsOnInstagram{
  color: var(--white);
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  text-align: center;
  text-shadow: -4px 2px var(--shadowBlack);
}

.followUsOnInstagram a{
  color: inherit!important;
}

.footerContainer{
  width: 100%;
  height: auto;
  background-color: var(--footerBlack);
  scale: 90%;
  transform: translateY(-3.1em);
  padding: 5% 10%;
  z-index: -99;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footerCol1{
  width: 30%;
  height: auto;
  margin-right: 12%;
}

.footerLogoContainer{
  margin-bottom: 8%;
}

.footerLogo{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footerHeader{
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

.footerLogo img{
  width: 10%;
  height: auto;
  margin-right: 1.5%;
}

.footerCol1 p{
  color: var(--white);
  opacity: 0.65;
  margin: 0;
  text-align: left;
  font-size: 17px;
  text-transform: capitalize;
  transform: translateY(-1.1em);
}

.footerContactUs{
  text-align: left;
  background-color: var(--footerBlack);
  box-shadow: 0 4px 4px var(--black);
  padding: 5% 8%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
}

.footerContactUs h2{
  color: var(--lightGreen);
  font-size: 20px;
  margin-bottom: 10%;
}

.mail p{
  text-transform: none;
}

.footerCol2{
  text-align: left;
  margin: 0 12% 0 0;
  padding: 0;
}

.footerCol2 .footerHeader{
  margin-bottom: 10%;
}

.footerCol2 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.footerCol2 a{
  text-decoration: none;
  text-anchor: middle;
  color: var(--white);
  opacity: 0.65;
  text-align: left;
  font-size: 17px;
  text-transform: capitalize;
}

.footerCol2 li{
  margin-bottom: 10%;
}

.footerCol3{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footerCol3 input{
  width: 100%;
  text-align: center;
  background-color: var(--footerBlack);
  box-shadow: 0 4px 4px var(--black);
  padding: 5% 8%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 3%;
}
